[Unit]
Description=Terra Oracle
After=network.target

[Service]
Type=simple
User=tr-service
WorkingDirectory=/home/ubuntu/terra_oracle_voter
ExecStart=/usr/bin/python3 -u /home/ubuntu/terra_oracle_voter/terra_oracle_vote.py
Restart=always
RestartSec=3

# Required configuration values
Environment=TELEGRAM_TOKEN=
Environment=TELEGRAM_CHAT_ID=
Environment=FCSAPI_KEY=
Environment=ALPHAVANTAGE_KEY=
Environment=USE_FREE_API=
Environment=FEEDER_ADDRESS=
Environment=VALIDATOR_ADDRESS=
Environment=KEY_NAME=
Environment=KEY_PASSWORD=
Environment=HOME_CLI=/path/to/.terracli
Environment=NODE_RPC=tcp://127.0.0.1:26657
Environment=TERRACLI_BIN=/path/to/terracli
Environment=TERRA_LCD=
Environment=CHAIN_ID=columbus-4
Environment=MISS_ALERTS=true
Environment=MISSES=0
Environment=PRICE_ALERTS=true
Environment=STOP_ORACLE_RECENT_DIVERGENCE=999999999999
Environment=STOP_ORACLE_EXCHANGE_DIVERGENCE=0.1
Environment=BID_ASK_SPREAD_MAX=0.05
Environment=FEE_DENOM=ukrw
Environment=FEE_GAS=170000
Environment=FEE_AMOUNT=356200
Environment=VWMA_PERIOD=0
Environment=COINONE_SHARE_DEFAULT=1.0
Environment=GOPAX_SHARE_DEFAULT=0.0
Environment=GDAC_SHARE_DEFAULT=0.0
Environment=BITHUMB_SHARE_DEFAULT=0.0
Environment=DEBUG=true


[Install]
WantedBy=multi-user.target
