[Unit]
Description=Terra Oracle
After=network.target

[Service]
Type=simple
User=tr-service
WorkingDirectory=/home/ubuntu/terra_oracle_voter
ExecStart=/usr/bin/python3 -u /home/ubuntu/terra_oracle_voter/terra_oracle_vote.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
